@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
  margin:0;
  padding:0;
}

/* nav section */

.quicksand-uniquifier {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.nav-container{
display:flex;
padding:20px;
justify-content: space-between;
max-width: 1500px;
align-items: center;
margin:0 auto;
}

.nav-text a{
  text-decoration: none;
}

.nav-img{
 display: flex;
 align-items: center;
 font-size: 22px;
}

.nav-img img{
 animation:bounce 3s infinite;
}

.nav-text{
display:flex;
list-style: none;
gap:60px;
}

.nav-text1{
  font-weight: 700;
  color:orange;
font-size: 19px;
cursor:pointer;
}

.nav-text2{
  font-weight: 700;
  color:skyblue;
  font-size: 19px;
  cursor:pointer;
}

.nav-text3{
  font-weight: 700;
  color:rgba(5, 212, 223, 1);
  font-size: 19px;
  cursor:pointer;
}

.nav-text4{
  font-weight: 700;
  color:rgba(93, 88, 239, 1);
font-size: 19px;
cursor:pointer;
}

#btn-c{
  padding:18px 60px;
background-color:orange;
color:white;
border:none;
border-radius:8px;
font-weight: 600;
font-size:16px;
 cursor: pointer;
}

.fa-bars{
 font-size: 25px;
 display: none;
}

.orange{
  color: orange;
}

.skyblue{
  color: rgb(7, 162, 223);
}

/* Banner section */

.banner-container{
display:flex;
justify-content: space-around;
align-items: center;
padding-bottom:100px;
}

.banner-title{
  font-weight:800px;
  font-size: 35px;
  padding-bottom: 35px;
}

.banner-subtitle{
  font-weight:500;
  padding-bottom: 35px;
}

.enroll-btn1{
  background-color: black;
  color:white;
  padding:20px 55px;
  border:none;
  border-radius:10px;
  cursor: pointer;
  font-weight: 750;
}

.banner-right img{
  width:100%;
}

/* Standard Curriculum */

.standard-container{
background-image:url(./B11-A2-Kids-School/assets/bg.png);
background-repeat: no-repeat;
width:100%;
height:800px;
}

.box-age1{
  height:480px;
  width:430px;
 border:1px solid black;
justify-items: center;
 border-radius: 10px;
background: linear-gradient(to bottom, rgb(222, 245, 255), rgba(255, 255, 255));
border: 1px solid rgb(235, 235, 220);
}

.box-age2{
  height:480px;
  width:430px;
 border:1px solid black;
 justify-items: center;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(255, 244, 220), rgba(255, 255, 255));
  border: 1px solid rgb(235, 235, 220);
}

.box-age3{
  height:480px;
  width:430px;
 border:1px solid black;
 justify-items: center;
 background: linear-gradient(to bottom, rgb(238, 225, 255), rgba(255, 255, 255));
  border-radius: 10px;
   border: 1px solid rgb(235, 235, 220);
}

.read-more1{
  text-decoration: none;
  color:rgb(2, 161, 247);
  font-weight:600;
}

.read-more2{
  text-decoration: none;
  color:rgb(226, 170, 39);
   font-weight:600;
}
.read-more3{
  text-decoration: none;
  color:rgba(135, 0, 255);
   font-weight:600;
}

.age-container{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
 gap:20px;
  max-width:1400px;
  margin: 0 auto;
}

.box-container h1{
  display: flex;
justify-content: center;
padding: 70px;
font-weight: 700;
font-size: 38px;
}

.age-img{
  padding:30px ;
  padding-top: 40px;
}

.age-desciption{
  padding:20px
}

.left-rightbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap:10px;
}

.fa-less-than,.fa-greater-than{
  background-color: orange;
  padding:15px;
  border-radius:50%;
  color:white;
  cursor:pointer;
}

   /* Our Stories section */

.stories-section{
background: linear-gradient(to top,rgba(209, 140, 21, 0.3),rgba(255, 255, 255, 0.3));
}

.story-container{
background-image:url(./B11-A2-Kids-School/assets/bg.png);
width:100%;
height:1000px;
}

.story-head{
display:grid;
grid-template-columns:repeat(3,1fr);
justify-content: space-around;
align-items:center;
margin:0 auto;
max-width:1400px;
gap:10px;
padding:50px 0px 0px 10px;
}

.story-1{
 width:600px;
 height:690px;
background-color: white;
grid-row:span 2;
border-radius:12px;
 border:none;
 margin-right:30px;
}

.story-2{
height:325px;
width:350px;
border:1px solid black;
background-color: white;
 border-radius: 12px;
  border:none;
}

.story-3{
height:325px;
width:350px;
border:1px solid black;
background-color: white;
 border-radius: 12px;
  border:none;
}

.story-4{
height:325px;
width:350px;
border:1px solid black;
background-color: white;
 border-radius: 12px;
  border:none;
  padding-bottom: 20px;
}

.story-5{
height:325px;
width:350px;
border:1px solid black;
background-color: white;
 border-radius: 12px;
  border:none;
  padding-bottom: 20px;
}


.btn-story button{
  padding:10px 25px;
  border-radius: 15px;
  border:none;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}

.s1 button {
  background-color:rgba(60, 216, 232, 1);
  padding: 15px 20px;
}

.s2 button {
  background-color:rgba(149, 178, 38, 1);
}

.s3 button {
  background-color:rgba(93, 88, 240, 1);
}

.s4 button {
  background-color:rgba(149, 178, 38, 1);
}

.s5 button {
  background-color:rgba(149, 178, 38, 1);
}

.btn-story{
  margin-top:-23px;
 padding-left:25px;
 padding-bottom:20px;
}

.story-title{
 padding-left:15px;
}

.story-subtitle{
  padding-top: 45px;
  padding-left:15px;
}

.story-title h1{
  padding-top:20px;
}

.story-subtitle p{
font-weight: 300;
}

.child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width:100%;
}

.our-story{
  display: flex;
  justify-content: center;
  font-size: 39px;
  font-weight:900;
  padding: 70px 0px 20px 0px;
}

.view-all{
padding:15px 50px;
background-color:black;
color:white;
border:none;
border-radius:12px;
font-size: 18px;
font-weight:500;
cursor: pointer;
}

.btn-view{
  display:flex;
  justify-content: center;
  padding-top:100px;  
}

.story33{
  display:none;
}


/* footer */

footer{

  width:100%;
  height:600px;
  background-color: rgba(1, 172, 253, 1);
}

.f-img{
background-color: white;
border-radius: 50%;
display:flex;
}

.f-h1{
  color:white;
}

.about-school {
  list-style: none;
}

.footer-box1{
width:34%;
height:40%;
padding:50px 50px;
margin-top:80px;
}

.footer-box2{
width:34%;
height: 200px;
padding:50px 50px;
padding-top:50px;
margin-top:20px;
margin-left:120px
}

.footer-box3{
width:34%;
height: 200px;
padding-top:20px;
padding-left:150px;
}

.footer-container{
display:flex;
justify-content: space-between;
justify-items: center;
align-items: center;
max-width:1400px;
margin:0 auto;
gap:60px;
}

.f-img{
   animation:bounce 3s infinite;
}

.footer-imgs{
  padding-bottom:30px;
  font-size: 28px;
}

.footer-img{
display:flex;
justify-content: center;
align-items: center;
gap:10px;
padding-bottom:30px;
padding-right: 50px;
}

.footer-subtitle p{
font-weight:200;
font-size:18px;
padding-left:8px;
line-height: 25px;
}

.about-school li{
  padding-top:25px;
  font-size: 20px;
  font-weight: 500;
  cursor:pointer;
}
.about-school a{
  text-decoration:none;
}

/* marquee */

marquee{
 margin-top: 40px;
}

#education{
  color:orange;
}

#peace{
  color:rgb(8, 168, 231);
  padding-left: 8px;
}

#progress{
  color:#0b04eb;
  padding-left: 8px;
}

#and{
  color:rgb(10, 228, 155);
  padding-left: 8px;
}




/* Moblie size */

@media screen and (max-width:570px){
.nav-btn,.nav-text,.school{
  display:none;
}
.nav-container{
  border-bottom: 1px solid rgb(255, 190, 69) ;

}
.fa-bars{
  display:block ;
  cursor: pointer;
}
.banner-container{
  flex-direction:column-reverse;
  padding: 20px;
}

.banner-left{
  padding-top: 50px;
  max-width:350px;
   justify-items: center;
     
}

.banner-title h1{
font-size:30px;
padding-right: 30px;
}

.banner-subtitle{
  font-size: 13px;
}
.banner-title,.banner-subtitle{
  padding-left: 20px;
}

.enroll-btn1{
  padding: 13px 28px;
}

.age-container{
flex-direction: column;
gap:20px;
width: 100%;
}

.box-age1,.box-age2,.box-age3{
  width:90%;
}

.box-container h1{
font-size: 23px;
margin-bottom:-35px;
}

.left-rightbtn{
  display: none;
}

/* story section */

.story33{
  display:block;
  margin-bottom:10px;
}

.story-1{
  display: none;
}

.story-2{
height:100%;
width:100%;
margin-bottom: 50px;
}

.story-3{
height:100%;
width:100%;
margin-bottom: 50px;
}

.story-4{
height:100%;
width:100%;
}

.story-5{
height:100%;
width:100%;
}

.stories-section{
padding-top: 900px;
}

.btn-story button{
  padding:5px 8px;
}

.story-head{
  grid-template-columns: repeat(2,1fr);
padding-right:7px;
}

.btn-view{
  padding-top: 50px;

}
.btn-view button{
  padding:10px 30px
}


/* footer */
.footer-container{
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

footer{
  width: 100%;
   height: 100%;
 background-color: #01ACFD;
}

.footer-box1{
  
    width:350px;
    height:70px;
    margin-top:-1px;
    padding-top: 80px;
}

.footer-box2{
 margin-right:230px;
 width:200px;
 height:150px;
}

.footer-box3{
 margin-right:270px;
width:200px;
}

.footer-img{
  margin-right:70px;
}

}





/* animation */
@keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }




































